 # Feature Generation
 Based on the avaliable features I will create new ones

In [148]:
from importlib import reload
from src.features import build_features
from src.data import load_data
import os 
import sys

sys.path.append(os.path.abspath(".."))
reload(build_features)
reload(load_data)

In [149]:
# Import interim data
df = load_data.load_interim_data()

## Generate new statistical features

In [150]:
df = build_features.create_statistical_features(df)

[INFO] Create statistical features on the def. Def length: 12598. Number of cols: 61
[INFO] Remove Nan colums from the key features. Def length: 12598
[INFO] New statustical features created successfully. Number of cols: 69

## Split winner and loser players from each other

In [151]:
df[["winner_rank", "wrank"]]

       winner_rank  wrank
0            122.0  122.0
1             42.0   42.0
2             16.0   16.0
3            137.0  137.0
4            126.0  126.0
...            ...    ...
12593         57.0   57.0
12594         84.0   84.0
12595         78.0   78.0
12596          7.0    7.0
12597          2.0    2.0

[12598 rows x 2 columns]

In [152]:
df.head()

,unnamed: 0,tourney_id,tourney_name,surface_df1,draw_size,tourney_level,date,match_num,winner_id,winner_df1,...,b365w,b365l,p1_dfp,p1_a,p1_dr,p1_bpsvd,p2_dfp,p2_a,p2_dr,p2_bpsvd
0,3378,2001-891,Chennai,Hard,32,A,2001-01-01,23,102911,Andrei Stoliarov,...,NaN,NaN,6.250000,9.375000,1.290000,100.000000,4.166667,6.250000,0.775194,50.000000
1,3446,2001-891,Chennai,Hard,32,A,2001-01-01,4,102259,Jerome Golmard,...,NaN,NaN,8.411215,9.345794,1.081442,60.000000,1.851852,5.555556,0.924691,43.750000
2,3445,2001-891,Chennai,Hard,32,A,2001-01-01,5,101611,Cedric Pioline,...,NaN,NaN,2.439024,12.195122,1.079268,57.142857,3.333333,17.777778,0.926554,50.000000
3,3444,2001-891,Chennai,Hard,32,A,2001-01-01,6,101086,Ronald Agenor,...,NaN,NaN,1.886792,1.886792,1.332366,66.666667,3.703704,5.555556,0.750545,61.538462
4,3443,2001-891,Chennai,Hard,32,A,2001-01-01,8,102817,Edwin Kempes,...,NaN,NaN,3.883495,13.592233,1.048004,66.666667,3.448276,11.494253,0.954195,50.000000

In [153]:
players_df = build_features.split_players_per_game(df)

[INFO] Remove all the Nan values
[INFO] Split winner and loser
[INFO] Number of winners: 12598
[INFO] Number of losers: 12598
[INFO] Number of players afther merge: 25196

## Create rolling features

In [154]:
df.columns

Index(['unnamed: 0', 'tourney_id', 'tourney_name', 'surface_df1', 'draw_size',
       'tourney_level', 'date', 'match_num', 'winner_id', 'winner_df1',
       'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age', 'loser_id',
       'loser_df1', 'loser_hand', 'loser_ht', 'loser_ioc', 'loser_age',
       'score', 'best_of', 'round', 'minutes', 'w_ace', 'w_df', 'w_svpt',
       'w_1stin', 'w_1stwon', 'w_2ndwon', 'w_svgms', 'w_bpsaved', 'w_bpfaced',
       'l_ace', 'l_df', 'l_svpt', 'l_1stin', 'l_1stwon', 'l_2ndwon', 'l_svgms',
       'l_bpsaved', 'l_bpfaced', 'winner_rank', 'winner_rank_points',
       'loser_rank', 'loser_rank_points', 'winner_key', 'loser_key',
       'winner_df2', 'loser_df2', 'surface_df2', 'location', 'tournament',
       'series', 'court', 'wsets', 'lsets', 'wrank', 'lrank', 'b365w', 'b365l',
       'p1_dfp', 'p1_a', 'p1_dr', 'p1_bpsvd', 'p2_dfp', 'p2_a', 'p2_dr',
       'p2_bpsvd'],
      dtype='object')

In [155]:
players_df = build_features.create_rolling_features(players_df, "dfp_double_fault_rate", 5)
players_df = build_features.create_rolling_features(players_df, "dfp_double_fault_rate", 10, True)

players_df = build_features.create_rolling_features(players_df, "a_ace_rate", 5)
players_df = build_features.create_rolling_features(players_df, "a_ace_rate", 10, True)

players_df = build_features.create_rolling_features(players_df, "d_dominance_ratio", 5)
players_df = build_features.create_rolling_features(players_df, "d_dominance_ratio", 10, True)

players_df = build_features.create_rolling_features(players_df, "bpsvd_break_point_opp_saved", 5)
players_df = build_features.create_rolling_features(players_df, "bpsvd_break_point_opp_saved", 10, True)

players_df = build_features.create_rolling_features(players_df, "is_winner", 5)
players_df = build_features.create_rolling_features(players_df, "is_winner", 10)

players_df = build_features.create_rolling_features(players_df, "ranking", 5)
players_df = build_features.create_rolling_features(players_df, "ranking", 10)